body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(247, 239, 247);
}
/*gradient*/

#main-header {
  /* background-color: rgb(140, 0, 255); */
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(140, 0, 255, 8),
    rgba(76, 0, 255, 7)
  );
  opacity: 0.6;
  color: white;
  padding: 2rem 5%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

#start-game {
  background-color: rgb(58, 201, 82);
  border: 1px solid rgb(58, 201, 82);
}

#start-game:hover {
  background-color: rgb(18, 151, 40);
  border: 1px solid rgb(18, 151, 40);
}


.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: rgb(140, 0, 255);
  border: 1px solid rgb(140, 0, 255);
  color: rgb(247, 239, 247);
  border-radius: 4px;
  cursor: pointer;
}


.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: rgb(140, 0, 255);
}

.btn:hover {
  background-color: rgb(90, 1, 163);
  border-color: rgb(90, 1, 163);
}

.btn-alt:hover {
  background-color: rgb(223, 203, 240);
  border-color: transparent;
}


